/* Simple approach */
.fallback {
  background-image: url('./assets/Coding-Challenge-Image-min-resized.png')
}

.avif {
  background-image: url('./assets/Coding-Challenge-Image-min-resized.avif')
}


* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* body {
  max-width: 100vw;
  height: 100vh;
}

* body main {
  height: 100%;
  width: 100%;
}

#main-left {
  background: #611818;
  position: relative;
  max-width: 413px;
}

#main-left #left-container {
  -webkit-transition: opacity 100ms ease-out, margin-bottom 425ms ease-out;
  transition: opacity 100ms ease-out, margin-bottom 425ms ease-out;
  z-index: 2;
  margin-bottom: 220px;
}

#main-left #left-container #explore {
  color: #fff;
  font-size: 224px;
  padding-left: 165px;
  font-weight: 700;
  -webkit-transition: margin-left 750ms ease-out, opacity 900ms ease-out, font-size 450ms ease-out;
  transition: margin-left 750ms ease-out, opacity 900ms ease-out, font-size 450ms ease-out;
  opacity: 0;
  margin-left: -955px;
}

#main-left #left-container #popout-button {
  padding-right: 6px;
  gap: 16px;
}

#main-left #left-container #popout-button img {
  cursor: pointer;
  -webkit-transition: -webkit-transform 50ms ease-out;
  transition: -webkit-transform 50ms ease-out;
  transition: transform 50ms ease-out;
  transition: transform 50ms ease-out, -webkit-transform 50ms ease-out;
}

#main-left #left-container #popout-button img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#main-left #left-container #popout-button span {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
}

#main-left #left-container #popout-button span:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#main-left #left-container #popout-button:active>img {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

#popout-container {
  margin: 150px 150px 170px 200px;
  padding: 60px 65px 50px 65px;
  background: #fff;
  position: fixed;
  -webkit-box-shadow: 0px 0px 10px 7px #0000004C;
  box-shadow: 0px 0px 10px 7px #0000004C;
  -webkit-transition: all 425ms ease-out, opacity 200ms ease-out .1s;
  transition: all 425ms ease-out, opacity 200ms ease-out .1s;
  border-radius: 100%;
  width: 0;
  height: 0;
  opacity: 0;
}

#popout-container #exit {
  position: absolute;
  top: 0;
  right: 0;
  margin: 23px 23px 0 0;
  cursor: pointer;
  -webkit-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
}

#popout-container #exit:active {
  -webkit-transform: scale(0.8) translate(1px);
  transform: scale(0.8) translate(1px);
  padding: 1px;
}

#popout-container #popout-header {
  position: relative;
  color: #611818;
  font-weight: 700;
  font-size: 70px;
  padding-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#popout-container #popout-header::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 105%;
  background: -webkit-gradient(linear, left top, right top, from(#611818), to(rgba(97, 24, 24, 0.0001)));
  background: linear-gradient(to right, #611818, rgba(97, 24, 24, 0.0001));
  height: 2px;
  border-radius: 5px;
}

#popout-container #popout-content {
  opacity: 0;
  z-index: 0;
}

#popout-container #popout-content #popout-text {
  margin-top: 25px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.35px;
}

#popout-container #popout-content #cta {
  margin-top: 30px;
  width: 235px;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(#611818), to(#A36754));
  background: linear-gradient(90deg, #611818 0%, #A36754 100%);
  color: #fff;
  font-size: 19px;
  letter-spacing: 1.69px;
  border: none;
  -webkit-box-shadow: -3px -3px 3px #611818;
  box-shadow: -3px -3px 3px #611818;
}

#popout-container #popout-content #cta:hover {
  background: -webkit-gradient(linear, left top, right top, from(#8f3535), to(#c58977));
  background: linear-gradient(90deg, #8f3535 0%, #c58977 100%);
}

#popout-container #popout-content #cta:active {
  -webkit-transform: translate(-4px, -4px);
  transform: translate(-4px, -4px);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#main-right {
  /* background-image: url("./assets/Coding-Challenge-Image-min-resized.png"); */
  background-size: cover;
}

#main-right #link-container {
  padding: 0px 26px 33px 0;
  gap: 20px;
}

#main-right #link-container a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#main-right #link-container a:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.on-load {
  opacity: 1 !important;
  margin-left: 0 !important;
}

.hide {
  opacity: 0 !important;
}

.appear {
  opacity: 1 !important;
}

.popout {
  opacity: 1 !important;
  width: 580px !important;
  height: 702px !important;
  border-radius: 0 !important;
  z-index: 3 !important;
}

.popout-hide {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  border-radius: 10% !important;
}

@media only screen and (max-height: 880px) {
  #main-left #left-container {
    margin-bottom: 125px;
  }

  #popout-container {
    margin-bottom: 50px;
  }
}

@media only screen and (max-height: 765px) {
  #main-left #left-container {
    margin-bottom: 50px !important;
  }

  #popout-container {
    margin-bottom: 25px !important;
    max-height: 90vh !important;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1100px) {
  #main-left {
    max-width: 325px;
  }

  #main-left #left-container #explore {
    font-size: 150px;
    padding-left: 160px;
  }
}

@media only screen and (max-width: 920px) {
  #main-left #left-container {
    margin-bottom: 125px;
  }

  #main-left #popout-container {
    margin-left: 110px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 850px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main #main-left {
    max-width: 100%;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    -webkit-box-shadow: 3px 3px 1px #611818;
    box-shadow: 3px 3px 1px #611818;
  }

  main #main-left #left-container {
    margin: 0;
  }

  main #main-left #left-container #explore {
    font-size: 100px;
    padding-left: 100px;
  }

  main #main-left #left-container #popout-button {
    margin: 0px 100px 15px 0px;
  }

  main #popout-container {
    margin: auto !important;
    left: 10px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-box-shadow: 4px 4px 4px #611818;
    box-shadow: 4px 4px 4px #611818;
  }
}

@media only screen and (max-width: 700px) {
  #popout-container {
    margin: auto !important;
    width: 94vw !important;
    height: 94vh !important;
    left: 50% !important;
    bottom: 50% !important;
    -webkit-transform: translateX(-50%) translateY(50%) !important;
    transform: translateX(-50%) translateY(50%) !important;
    -webkit-box-shadow: 4px 4px 4px #611818;
    box-shadow: 4px 4px 4px #611818;
    overflow-y: auto;
  }

  #explore {
    padding-left: 20px !important;
  }

  #popout-button {
    margin: 0px 20px 15px 0px !important;
  }
}

@media only screen and (max-width: 420px) {
  #popout-container {
    padding: 5px 15px 5px 15px !important;
  }

  #popout-container #popout-header {
    font-size: 45px;
  }

  #explore {
    font-size: 50px !important;
  }

  #popout-button img {
    width: 25px;
  }

  #popout-button span {
    font-size: 20px !important;
  }
}

/*# sourceMappingURL=styles.css.map */